<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perpus Onlen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://thumbs.dreamstime.com/z/open-old-hardcover-book-yellow-background-space-text-open-old-hardcover-book-yellow-background-space-text-165558408.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body class="container" >
  <%- include('./partials/_navbar.ejs') %> 
  <div class="bg" style="text-align: center">
    <br>
    <br>
    <br>
    <h1>Selamat datang di Perpus Onlen</h1>
    <br>
    <h5>Aplikasi perpustakaan yang bisa buat kamu untuk meminjam buku secara online</h5>
  </div>
</body>
</html>