<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <title>Perpus Onlen</title>
</head>
<body>
  <h1>Perpus Onlen</h1>

  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

  <!-- <script>

    // let labels = profiles.map(el => {
    //     return el.fullName
    // })
    
  const labels = [
  'Reggie Muffett',
  'Brit Le Marquand',
  'Doy Runnalls',
  'Jordana Blythe',
  'Sarene Belliss',
  ]

  // let dataTotalBorrowed = profiles.map(el => {
    //     return el.totalBorrowed
    //     })
    
  dataTotalBorrowed = [3, 1, 5, 7, 4]

      const data = {
        labels: labels,
        datasets: [{
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: dataTotalBorrowed,
        }]
      }
    
      const config = {
        type: 'bar',
        data: data,
        options: {}
      }
  </script>
  <script>
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      )
  </script> -->

<script>

  // let labels = profiles.map(el => {
  //     return el.fullName
  // })
  
const labels = [
'Reggie Muffett',
'Brit Le Marquand',
'Doy Runnalls',
'Jordana Blythe',
'Sarene Belliss',
]

// let dataTotalBorrowed = profiles.map(el => {
  //     return el.totalBorrowed
  //     })
  
dataTotalBorrowed = [3, 1, 5, 7, 4]

    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: dataTotalBorrowed,
      }]
    }
  
    const config = {
      type: 'bar',
      data: data,
      options: {}
    }
</script>
<script>
  const myChart = new Chart(
        document.getElementById('myChart'),
        config
      )
</script>
  
  <a href="/login">Login</a>
  <a href="/register">Register</a>

</body>
</html>