<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perpus Onlen</title>
</head>
<body class="container">
  <%- include('./partials/_navbar.ejs') %> 

  <div style="text-align: center;">
    <h1 >Selamat datang di Perpus Onlen</h1>
  </div>

  <div style="text-align: center;">
    <h1 >Aplikasi perpustakaan yang bisa buat kamu untuk meminjam buku secara online</h1>
  </div>


</body>
</html>