<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
</head>
<body class="container">
  <%- include('./partials/_navbar.ejs') %> 

  <h1>Form Register</h1>

  <% if (errors) { %>
    <p style="color: red;"><%= errors %> </p>
   <% } %>

  <form action="/register" method="post">
    <p>
      Username <br>
      <input type="text" name="username">
    </p>
    <p>
      Email <br>
      <input type="text" name="email">
    </p>
    <p>
      Password <br>
      <input type="text" name="password">
    </p>
    <p>
      Role <br>
      <select name="role">
        <option value=""selected disabled>---SELECT ONE---</option>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
    </p>
    <p>
      <input type="submit" value="Register">
    </p>
  </form>
</body>
</html>